body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

/* AUTH */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 300px;
}

.auth-card input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 6px;
}

.auth-card button {
  width: 95%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.switch {
  color: #38bdf8;
  cursor: pointer;
  margin-top: 10px;
}

/* MAIN */
.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.nav a {
  margin: 10px;
  color: #38bdf8;
  text-decoration: none;
}

.row {
  margin: 15px;
}

input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#map {
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
}